.dummy-container{
    width: 100%;
    padding: 0 ;
    border-radius: 5px;
    cursor: pointer;
    background-color: transparent;
    transition: all .5s;
    margin-bottom: 5px;
   
}

.dummy-container h4{
    color: var(--font-dummy-colors);
    text-align: center;
    font-size: 2rem;
}

.dummy-container:hover{
    background-color: rgba(0, 0, 0, 0.486);
}