.main{
    width: 100%;
    height: 100vh;
    display: flex;
}

.overide{
    transition: .6s all;
    background-color: rgba(0, 0, 0, .5);
    position: absolute;
    z-index: 5;
    width: 100%;
    height: 100vh;
}

.main-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
}

.main-content-list{
    padding: 10px 0;
    width: 90%;
    height: 80vh;
}