:root{
    --sidebar-color:  #f73b3b;
    --button-create : #fffdfd;
    --button-create-hover : #c28787;
    --line-color: #f37676;
    --font-dummy-colors : #fffdfd;
    --dummy-hover:  rgba(0,0,0, 0.8);
    --button-option: #1c1c1c;
    --button-option-hover: rgba(0, 0, 0, .1);
    --inputs-colors-one: rgba(0,0,0, 0.8)
}



*{
    margin: 0;
    padding: 0;
    font-size: 65.5%;
    font-family: 'Palanquin', sans-serif;
}

